# BULIT IN FUNCTIONS

# print()

In [22]:
print("Hello, World!")

Hello, World!

# len(): Returns the length of an object.

In [23]:
my_string = "Hello"
print(len(my_string))  # Output: 5

5

# range(): Generates a sequence of numbers.

In [24]:
for num in range(5):
    print(num)  # Output: 0 1 2 3 4

0
1
2
3
4

# input(): Allows user input.

In [25]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name:
Hello,

# int(): Converts a value to an integer.

In [26]:
num_str = "10"
num_int = int(num_str)

# str(): Converts a value to a string.

In [27]:
num = 10
num_str = str(num)

# list(): Creates a list.

In [28]:
my_list = list(range(5))
print(my_list)

[0, 1, 2, 3, 4]

# dict(): Creates a dictionary.

In [29]:
my_dict = dict(name="John", age=30)
print(my_dict)

{'name': 'John', 'age': 30}

# max(): Returns the largest item in an iterable or the largest of two or more arguments.

In [30]:
numbers = [3, 7, 2, 9]
print(max(numbers))  # Output: 9

9

# min(): Returns the smallest item in an iterable or the smallest of two or more arguments.

In [31]:
numbers = [3, 7, 2, 9]
print(min(numbers))  # Output: 2

2

# sum(): Returns the sum of all items in an iterable.

In [32]:
numbers = [1, 2, 3, 4]
print(sum(numbers))  # Output: 10

10

# abs(): Returns the absolute value of a number.

In [33]:
num = -5
print(abs(num))  # Output: 5

5

# sorted(): Returns a sorted list from the given iterable.

In [34]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 2, 3, 4, 5, 6, 9]

# enumerate(): Returns an enumerate object. It adds a counter to an iterable.

In [35]:
fruits = ['apple', 'banana', 'cherry']
for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 apple
1 banana
2 cherry

# map(): Applies a function to all the items in an input iterable.

In [36]:
numbers = [1, 2, 3, 4]

squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16]